
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}
.menu_items li , .footer_links li {
    cursor: pointer;
}

.theme_btn {
    background: #007FF4;
    padding: 8px 20px;
    color: #fff;
    border-radius: 20px;
}
.theme_btn_white {
    background: #fff;
    padding: 8px 20px;
    color: #000;
    border-radius: 20px;
    box-shadow:0 0 22px 0px #cdc4c4ad;
}

.mainSec .overlay{
    background: url(./assets/images/Oval\ +\ Oval\ Copy\ Mask.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service_card:hover .title{
   color: #fff;
}

.service_card:hover .learn_more{
    opacity: 1;
}

.service_card,.clinic_card{
    box-shadow: 0px 0px 35px #a59e9e9e;
}
.clinic_card{
    width: 240px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.service_card:hover{
    transform: scale(1.1);
    transition: .3s all;
}

.clinic_card .img_wrap{
    height: 137px;
}
.clinic_card .img_wrap img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.service_card .img_wrap svg{
    font-size: 100px;
    color: #007FF4;
}
.service_card:hover .img_wrap svg{
    color: #fff;
}

.review_card{
    min-height: 300px;
}

.carousel-button-group button{
display: flex;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

@media (max-width:590px) {
    .sec_dtr_card{
        margin-top:30px ;
    }
    .sec_dtr_card_one{
         margin-top: 30px;
    }
}
@media (max-width:550px) {
    .sec_dtr_card{
        margin-top:80px ;
    }
}


